.quote-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    background-color: white;
    justify-content: space-evenly;
    text-align: center; 
    padding: 20px;
}

.quote > p {
    margin: 0;
    opacity: 1;
    transition: opacity .5s ease-in;
    /* transition: color .2s ease-out; */
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.btn-container > button {
    margin-right: 20px;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    font-size: 1em;
}

.faded {
    opacity: 0;
    transition: opacity .5s ease-out;
}

